{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 14,
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "react/react-in-jsx-scope": 0,
        "react/prop-types": 0,
        "indent": ["error", 2],
        "linebreak-style": ["error", "windows"],
        "quotes": [2, "single", { "avoidEscape": true }],
        "space-unary-ops"  : 2
        // "no-console": 1
    },
    "settings": {
        "react": {
          "version": "detect"
        }
    }
    
}
